.zone{
	/*border: 1px solid #ddd;*/
	padding: 5px;
	border-radius: 4px 4px 0 0;
}
.label-category{
	display: inline-table;
	line-height: 30px;
	height: 30px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 0.25em;
	text-align: center;
	vertical-align: baseline;
	line-height: 1.15;
	height:20px;
	padding: 0.2em 0.6em 0.3em 0.6em;
	font-size: 12px;
	color: white; 
	background-color: #3a87ad;
}
.label-category:hover{
	background-color: #449d44 !important;
}
#form-field-tags{
	width:100% !important;
}
.notity_zone h3{
	padding-left: 10px;
}

.articleList_actionbar{
	background-color: #eff3f8;
}
